name: Check code coverage
on:
  pull_request:
  push:
    branches: [master]
jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - uses: snok/install-poetry@v1
        with:
          version: 1.1.10
          virtualenvs-create: true
          virtualenvs-in-project: false
          virtualenvs-path: ~/.virtualenvs
          installer-parallel: true
      - uses: actions/cache@v1
        id: cache
        with:
          path: ~/.virtualenvs
          key: poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            poetry-${{ hashFiles('**/poetry.lock') }}
      - run: poetry install
      # Code cove with a min percentage
      # - run: poetry run pytest --cov . --cov-fail-under=80 -n auto
      - run: poetry run pytest --cov --cov-config=.coveragerc --cov-fail-under=80 -n auto
